<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to the Homepage of Scrooge McDuck!</h1>
    <p>
      I have worked my way up the financial ladder from humble immigrant roots. The majority of my wealth in a massive Money Bin overlooking the city of Duckburg.
      
      I don't tell you the exact amount of my wealth, but it's huuuuge.
    </p>
    <section id="links">
      <a href="./about">About</a>
      <a href="./photos">Photos</a>
      <a href="./works">Works</a>
    </section>
  </body>
</html>
