<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to the Homepage of Scrooge McDuck!</h1>
    <p>
        I'm a super rich billionaire - learn more about my wealth. No, that's not the website of the Club of Billionaires. ;)
    </p>
    <section id="links">
      <a href="./about">About</a>
      <a href="./photos">Photos</a>
      <a href="./works">Works</a>
    </section>
    <div class="image">
        <img src="../images/Scrooge_McDuck.png" alt="Scrooge McDuck">
    </div>
  </body>
</html>
